.label {
  color: var(--mantine-color-dark-1);
  font-size: var(--mantine-font-size-sm);
  margin-bottom: var(--mantine-spacing-xxs);
}

.description {
  margin-bottom: var(--mantine-spacing-xxs);
}

.input {
  height: rem(40px);
  border: 1px solid var(--mantine-color-dark-2);
  background-color: var(--mantine-color-dark-4);
  color: var(--mantine-color-white);

  &:focus,
  &:focus-within {
    border-color: var(--mantine-color-white);
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--mantine-color-white);
    -webkit-box-shadow: 0 0 0px 1000px var(--mantine-color-dark-4) inset;
  }

  &[type='checkbox'] {
    height: rem(20px);
    border: 2px solid var(--mantine-color-violet-3);
    &:checked {
      background-color: var(--mantine-color-violet-4);
    }
  }

  &[data-variant='unstyled'] {
    background-color: transparent;
    padding: rem(12px);
    border-radius: 0.2rem;
    border-width: 0.5px;
  }
}
