.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.backPage {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 100;
}

.formContainer {
  display: flex;
  align-items: center;
  width: 40%;
  height: 100%;
  background-color: var(--mantine-color-dark-1);
  border-right: 1px solid var(--mantine-color-dark-3);
}
.blockContainer {
  display: flex;
  align-items: center;
  width: 60%;
  height: 100%;
}
