.wrapper {
  /* width: 5rem; */
}

.label {
  &:not([data-variant='unstyled']) {
    color: var(--mantine-color-dark-1);
    font-size: var(--mantine-font-size-sm);
    margin-bottom: var(--mantine-spacing-xxs);
  }
}

.input {
  &:not([data-variant='unstyled']) {
    height: rem(40px);
    border: 1px solid var(--mantine-color-dark-2);
    background-color: var(--mantine-color-dark-4);
    color: var(--mantine-color-white);
  }

  &[data-variant='code'] {
    background-color: transparent;
    padding: rem(12px);
    border-radius: 0.2rem;
    border-width: 0.5px;
  }
}

.dropdown {
  background-color: var(--mantine-color-dark-5);
  border-color: 1px solid var(--mantine-color-dark-3);
  color: var(--mantine-color-dark-2);
}

.option {
  &:hover {
    background-color: var(--mantine-color-violet-3);
    color: var(--mantine-color-white);
  }
  &[aria-selected='true'] {
    background-color: var(--mantine-color-violet-5);
    color: var(--mantine-color-white);
  }
}
